@import url('markdown-styles.css');

.blog-page {
  margin: 5rem 0;
  display: flex;
  justify-content: center;
}

.blog-page > div {
  max-width: 700px;
  width: 100%;
  padding: 0 1rem;
}

.blog-content img {
  width: 100%;
}

.blog-page .category {
  color: #6ab7f1;
  margin-bottom: 2rem;
}

.blog-title {
  font-family: 'Space Mono';
  font-weight: 500;
  font-size: 2.8rem;
  margin-top: 1rem;
  line-height: 130%;
}

.blog-summary {
  margin: 1rem 0;
  font-size: larger;
  line-height: 150%;
  font-weight: 300;
}

.header-image {
  width: 100%;
  padding: 1rem 0;
}

.blog-stats {
  color: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  font-size: small;
}

@media screen and (max-width: 425px) {
  .blog-title {
    font-size: 2.2rem;
  }

  .blog-page {
    margin-top: 2rem;
  }
}
