.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo p {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Space Mono';
}

.logo img {
  width: 24px;
  margin-right: 1rem;
}

.header ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.header li {
  margin-left: 1rem;
}

.menu-button {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .menu-button {
    display: block;
  }

  nav {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: white;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  nav.active {
    display: block;
    background: black;
    margin-top: 1rem;
  }

  nav ul {
    flex-direction: column;
  }

  .header li {
    margin: 1rem 0;
  }
}
