.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo p {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Space Mono';
}

.logo img {
  width: 24px;
  margin-right: 1rem;
}

.header ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header li {
  margin: 0 0 0 1rem;
}
