@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('header.css');
@import url('blog-list.css');
@import url('blog-page.css');
@import url('comments.css');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background-color: #131112;
  color: #F7F7FF;

  max-width: 1000px;
  margin: auto;
  font-family: 'Inter', 'sans-serif';
}

a {
  color: #F7F7FF;
  text-decoration: none;
}

a:hover {
  color: #6ab7f1;
}

.selected {
  color: #6ab7f1;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.hero-text p {
  font-size: 2rem;
  font-weight: 500;
  font-family: 'Space Mono';
  text-align: center;
  max-width: 80%;
}

.blue-link {
  color: #6ab7f1 !important;
}
