<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{ partial "header.html" . }}

    <article class="blog-page">
        <div>
            <span class="category">{{ .Params.category }}</span>
            <h2 class="blog-title">{{ .Title }}</h2>
            <p class="blog-published-date"><small>Published on {{ .Date.Format "January 2, 2006" }}</small></p>
            <p class="blog-summary">{{ .Summary }}</p>
            <div class="header-image-container">
                <img class="header-image" src="{{ "assets/thumbnail.png" | relURL }}" />
            </div>
            <div class="blog-content">{{ .Content }}</div>
        </div>
    </article>
</body>
</html>
